@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

body {
  background-color: hsl(0, 0%, 93%);
  background-image: url(./images/back.png);
  background-repeat: repeat;
  font-family: "Work Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

#logo,
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  /* width: 495px;
  height: 275px; */
  width: 550px;
  margin: -80px;
}

.section {
  border: 3px solid hsl(0, 0%, 100%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: 0.2s;
}

.container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  margin: 0px;
}

.info-sections {
  width: 450px;
  height: 220px;
  padding: 0px;
  margin: 0px 10px 0px 10px;
}

#top,
#middle,
#bottom {
  display: flex;
}

#top,
#bottom {
  justify-content: space-evenly;
}

#middle {
  justify-content: center;
}

.section:hover {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 3.4rem;
}

#section-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 20px;
}

#info-section2 {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
}

.subsection {
  padding: 0;
  margin: 10px;
  color: hsl(0, 0%, 0%);
}

/* Media Queries */
@media screen and (max-width: 1055px) {
  #logo {
    margin: 10px;
  }

  .section {
    width: 180px;
    height: 180px;
  }

  .section:hover {
    font-size: 2.3rem;
  }

  .container {
    width: 200px;
    height: 200px;
  }

  .info-sections {
    width: 350px;
  }

  #info-section1 {
    margin-bottom: 10px;
  }

  #info-section2 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 665px) {
  #logo {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

  #top,
  #bottom {
    flex-direction: column;
    align-items: center;
  }

  #top {
    margin-top: 250px;
  }

  #info-section1 {
    position: relative;
  }

  #info-section2 {
    position: relative;
  }
}
