/* About Main Box */
#list-caption {
  margin-left: 15px;
}

/* Penguin Box */
#penguin-container {
  text-align: center;
  opacity: 1;
}

#penguin-image {
  width: 95%;
  border-radius: 10px;
  opacity: 1;
}

#penguin-caption {
  text-align: center;
  font-weight: bold;
}
