/* Background and Font*/
body {
  background-color: #eeeeee;
  background-image: url(../images/back.png);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Navigation */
body,
#main-pages,
.main-nav-pages,
#secondary-pages,
.secondary-nav-pages {
  padding: 0;
  margin: 0;
}

#main-nav #main-pages,
#secondary-nav #secondary-pages {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 125px;
}

#main-nav {
  background: linear-gradient(#bbbbbb, #cccccc);
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  padding-bottom: 55px;
  padding-top: 5px;
}

#main-nav li {
  list-style-type: none;
  font-size: 2rem;
  display: block;
}

#main-pages li a,
#secondary-pages li a {
  text-decoration: none;
  color: #000000;
  padding: 0 20px;
  transition: 0.2s;
}

#main-pages li a:hover,
#secondary-pages li a:hover {
  color: #ffffff;
}

#secondary-nav {
  height: 45px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 80px;
  z-index: 2;
}

#secondary-nav li {
  list-style-type: none;
  font-size: 1rem;
  display: block;
}

#testbox {
  height: 1000px;
}

#ll-logo {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -60px;
  left: 15px;
}

/* General Page Stylings */
#heading-main {
  font-size: 7rem;
  margin: 135px 0px 10px 10%;
}

#stop {
  text-shadow: -1px 1px 0 #000000, 1px 1px 0 #000000, 1px -1px 0 #000000,
    -1px -1px 0 #000000;
}

.content-section {
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin-bottom: 30px;
}

#section1 {
  width: 800px;
}

#section2 {
  width: 400px;
}

#section1,
#section2,
#section-only {
  border: #000000 1px solid;
  background-color: hsl(0, 0%, 100%);
  /* opacity: 0.8; */
  /* border-radius: 0.5%; */
  height: fit-content;
}

#section-only {
  width: 80%;
}

.standard-text {
  margin: 15px;
  padding: 10px;
  color: #000000;
  font-size: 1rem;
}

.sub-heading {
  font-size: 2rem;
  margin: 15px;
}

.not-top {
  margin-top: 50px;
}

.black-list,
.information-list {
  margin-right: 15px;
  padding: 5px;
}

/* Footer */
#footer {
  background-color: #888888;
  width: 100%;
  bottom: 0;
}

#footer ul {
  padding: 10px;
  margin: 0;
}

#footer ul li,
#footer ul li a {
  color: white;
  font-size: 0.8rem;
}

#footer ul li {
  padding: 10px;
  margin-left: 10px;
  list-style-type: none;
}

/* Section Specific */
/* Information */
.information-link {
  color: hsl(249, 69%, 68%);
}

.information-divide {
  border: 1px solid hsl(249, 69%, 68%);
  width: 99.9%;
  height: 0;
}

.information-list {
  color: hsl(249, 69%, 68%);
}

.list-text {
  color: hsl(0, 0%, 0%);
}

.activities-link {
  color: hsl(0, 71%, 67%);
}

.activities-divide {
  border: 1px solid hsl(0, 71%, 67%);
  width: 99.9%;
  height: 0;
}

/* Coming Soon */
#coming-soon-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-decoration: hsl(0, 71%, 67%) underline solid;
}
