/* Message Area */
#message {
  width: 288px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}

/* Board */
#board {
  width: 526px;
  height: 560px;
  margin: auto;
  background-image: url(../images/battleship-grid.png);
  background-repeat: no-repeat;
  padding: 10px;
}

#battleships-container {
  text-align: center;
  margin: 20px;
}

td {
  width: 48px;
  height: 48px;
  border: hsl(0, 0%, 0%) 1px solid;
  background-color: hsl(110, 65%, 81%);
  background-image: url(../images/battleships-wave.png);
  background-repeat: repeat;
  font-size: 2.3rem;
}

table {
  border-spacing: 0px;
  margin: 10px auto 50px auto;
}

/* Guess */
#guessing-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#guess {
  background-color: hsl(110, 65%, 81%);
  color: hsl(0, 0%, 0%);
  border: hsl(0, 0%, 0%) 1px solid;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
  width: 100px;
  text-align: right;
  margin: 5px;
}

#fire-button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border: hsl(0, 0%, 0%) 1px solid;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
  width: 80px;
  margin: 5px;
  transition: 0.2s;
}

#fire-button:hover {
  cursor: pointer;
  background-color: hsl(110, 65%, 71%);
  color: hsl(0, 0%, 100%);
}

/* Game Elements */
.miss {
  color: hsl(0, 0%, 100%);
}

/* Media Queries */
@media screen and (max-width: 780px) {
  .battleships-container {
    margin: 20px 0 20px 0;
  }
  #board {
    width: 263px;
    height: 420px;
    background-image: url(../images/battleship-grid-small.png);
    background-size: 270px 340px;
  }
  td {
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
  }
  #message {
    width: 250px;
    height: 60px;
  }
}
