#board {
  width: 526px;
  margin: auto;
  padding: 10px;
}

#skyscrapers-container {
  text-align: center;
  margin: 20px;
}

th,
td {
  width: 48px;
  height: 48px;
  font-size: 2.3rem;
}

th {
  background-color: hsl(0, 0%, 100%);
}

td {
  background-color: hsl(110, 65%, 81%);
  /* background-image: url(../images/battleships-wave.png);
  background-repeat: repeat; */
  border: hsl(0, 0%, 0%) 1px solid;
  text-align: center;
}

td input {
  width: 80%;
  height: 80%;
  margin: auto;
  background-color: hsl(110, 65%, 81%);
  border: none;
  text-align: center;
  font-size: 2.3rem;
}

table {
  border-spacing: 0px;
  margin: 10px auto 10px auto;
}

#submit-button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border: hsl(0, 0%, 0%) 1px solid;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
  margin: 5px;
  transition: 0.2s;
}

#submit-button:hover {
  cursor: pointer;
  background-color: hsl(110, 65%, 71%);
  color: hsl(0, 0%, 100%);
}
