/* Buttons */
#streaming-buttons-article {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.streaming-buttons {
  background-color: white;
  border: black solid 1px;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 200px;
  height: 80px;
  margin: 10px;
  transition: 0.3s;
}

.streaming-buttons:hover {
  cursor: pointer;
  background-color: hsl(0, 71%, 67%);
  color: white;
}

/* Films */
.film-category,
.tv-category {
  color: hsl(0, 71%, 67%);
  font-size: 1rem;
  padding: 10px 10px 0 10px;
  margin: 15px 15px 0 15px;
}

.film-name,
.tv-name {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  margin: 0 15px 0 15px;
}

.film-name-link,
.tv-name-link {
  color: black;
}

.film-image-container,
.tv-image-container {
  display: flex;
  justify-content: center;
}

.film-image,
.tv-image {
  width: 600px;
  height: 300px;
  border: black 1px solid;
  border-radius: 1%;
}

.film-genre-text,
.tv-genre-text {
  margin-left: 15px;
  margin-bottom: 0;
  padding: 10px 10px 0 10px;
  color: black;
  font-size: 1.5rem;
}

.film-genre,
.tv-genre {
  color: hsl(0, 71%, 67%);
}

.films-bottom,
.tvs-bottom {
  display: flex;
  justify-content: space-between;
}

.film-date,
.film-score,
.tv-date,
.tv-score {
  margin: 0 15px 30px 15px;
  padding: 0 10px 0 10px;
}

.film-date,
.tv-date {
  font-size: 1rem;
}

.film-score,
.tv-score {
  font-size: 1.5rem;
  color: black;
}

.film-score-span,
.tv-score-span {
  background-color: hsl(0, 71%, 67%);
  color: white;
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
}

/* Random Media */
.random-image-container {
  display: flex;
  justify-content: center;
}

.random-image {
  width: 200px;
  height: 200px;
  border: 1px black solid;
  border-radius: 10%;
  background-color: #eeeeee;
}

.zero-message {
  color: hsl(0, 71%, 67%);
  margin-top: 0;
  padding-top: 0;
}
