/* Buttons */
#button-row1,
#button-row2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
}

.activities-button {
  width: 300px;
  height: 200px;
  border: 1px black solid;
  border-radius: 10px;
  background-color: hsl(0, 71%, 72%);
  color: white;
  font-size: 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activities-button:hover {
  cursor: pointer;
  background-color: hsl(0, 71%, 67%);
}
