/* Buttons */
#streaming-buttons-article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.streaming-buttons {
  background-color: hsl(0, 0%, 100%);
  border: hsl(0, 0%, 0%) solid 1px;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 200px;
  height: 80px;
  margin: 10px;
  transition: 0.2s;
}

.streaming-buttons:hover {
  cursor: pointer;
  background-color: hsl(0, 71%, 67%);
  color: hsl(0, 0%, 100%);
}

/* Reccomended Film and TV */
.film-category,
.tv-category {
  color: hsl(0, 71%, 67%);
  font-size: 1rem;
  padding: 10px 10px 0 10px;
  margin: 15px 15px 0 15px;
}

.film-name,
.tv-name {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  margin: 0 15px 0 15px;
}

.film-name-link,
.tv-name-link {
  color: hsl(0, 0%, 0%);
}

.film-image-container,
.tv-image-container {
  display: flex;
  justify-content: center;
}

.film-image,
.tv-image {
  width: 600px;
  height: 300px;
  border: hsl(0, 0%, 0%) 1px solid;
  border-radius: 5px;
}

.film-genre-text,
.tv-genre-text {
  margin-left: 15px;
  margin-bottom: 0;
  padding: 10px 10px 0 10px;
  color: hsl(0, 0%, 0%);
  font-size: 1.5rem;
}

.film-genre,
.tv-genre {
  color: hsl(0, 71%, 67%);
}

.films-bottom,
.tvs-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.film-date,
.film-score,
.tv-date,
.tv-score {
  margin: 0 15px 30px 15px;
  padding: 0 10px 0 10px;
}

.film-date,
.tv-date {
  font-size: 1rem;
}

.film-score,
.tv-score {
  font-size: 1.5rem;
  color: hsl(0, 0%, 0%);
}

.film-score-span,
.tv-score-span {
  background-color: hsl(0, 71%, 67%);
  color: hsl(0, 0%, 100%);
  border: 1px hsl(0, 0%, 0%) solid;
  border-radius: 10px;
  padding: 5px;
}

/* Random Media */
.random-image-container {
  display: flex;
  justify-content: center;
}

.random-image {
  width: 200px;
  height: 200px;
  border: 1px hsl(0, 0%, 0%) solid;
  border-radius: 20px;
  background-color: hsl(0, 0%, 93%);
}

.zero-message {
  color: hsl(0, 71%, 67%);
  margin-top: 0;
  padding-top: 0;
}

/* Media Queries */
@media screen and (max-width: 720px) {
  .film-image,
  .tv-image {
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 340px) {
  .film-image,
  .tv-image {
    width: 250px;
    height: 125px;
  }
  .film-score,
  .tv-score {
    font-size: 1.2rem;
  }
  .sub-heading {
    font-size: 1.8rem;
  }
}
